/nbproject/private/
/build/
/dist/
/src/testegithub/Teladelogin/build/
/src/testegithub/Teladelogin/nbproject/private/
/src/Teladelogin/build/
/src/Teladelogin/nbproject/private/
/Teladelogin/build/
/Teladelogin/nbproject/private/